services:
  server:
    build: ./server
    volumes:
      - ./server/data:/app/data
    restart: unless-stopped

  client:
    build: ./client
    ports:
      - "80:80"
    restart: unless-stopped
    volumes:
      - ./client/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
